<h1>Home</h1>

<a href="/userlist">Other users</a>
<br>
<a href="/portfolio">Portfolio</a>
<br>
<a href="/logout">Log Out</a>
<br>
<h2>Portfolio</h2>
<table class="table table-inverse table-bordered">
  <% companies.forEach(function(company){ %>
  <tr>
    <th rowspan="2"><%=company.name%><br><%=company.symbol%></th>
    <th>Investment:</th>
    <th>Shares Purchased:</th>
    <th>Purchased Price:</th>
    <th>Returns:</th>
    <td rowspan="2">
      <button type="button" name="seemore">Company Profile</button>
      <br>
      <form action="/home/<%= company._id %>?_method=DELETE" method="post">
        <button type="submit" name="delete">Delete</button>
      </form>
    </td>
  </tr>
  <tr>
    <td>USD <%=(company.sharePurchased*company.purchasedPrice).toFixed(2)%> </td>
    <td><%=company.sharePurchased%></td>
    <td>USD <%=company.purchasedPrice%></td>
    <td>USD <%=((855.18*company.sharePurchased)-(company.sharePurchased*company.purchasedPrice)).toFixed(2)%></td>
  </tr>
  <% }) %>
</table>
