<div class="navbar navbar-custom navbar-static-top">
    <div class="container">
      <a href="/home" class="navbar-brand navbar-left" id="brand">SCRATCH</a>
        <a href="/userlist" class="navItem">Other Users</a>
        <a href="/portfolio" class="navItem">Profile</a>
        <a href="/logout" class="navItem">Log Out</a>
    </div>
</div>

<h1>Traders</h1>
<table class="table table-inverse table-bordered">
  <% allUsers.forEach(function(user){ %>
  <tr>
    <th rowspan="2"><%=user.name%><br><%=user.email%></th>
    <th>Return:</th>
    <th>Monthly Trend:</th>
    <th>Half Year Trend</th>
    <td rowspan="2">
    <form action="/userlist/<%= user._id %>?_method=PUT" method="post">
      <button type="submit" name="follow">Follow</button>
    </form>
    </td>
  </tr>
  <tr>
  /*Simulation of the trend since I do not have any figures yet*/
    <td>USD <%-(Math.random()*1500).toFixed(2)%></td>
    <td><%-parseInt(Math.random()*15)%>%</td>
    <td><%-parseInt(Math.random()*25)%>%</td>
  </tr>
  <% }) %>
</table>
